
  <!-- Display other user details -->
<div *ngIf="user" class="profile-container">
  <h2 class="profile-title">{{ user.firstName }} {{ user.lastName }}'s Profile</h2>
  
  <div class="profile-image-container">
    <img [src]="user.image" alt="{{ user.firstName }}" class="profile-image" />
  </div>
  
  <div class="profile-details">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <p><strong>University:</strong> {{ user.university }}</p>
    <p><strong>Blood Group:</strong> {{ user.bloodGroup }}</p>
    <p><strong>Height:</strong> {{ user.height }} cm</p>
    <p><strong>Weight:</strong> {{ user.weight }} kg</p>
    <p><strong>Eye Color:</strong> {{ user.eyeColor }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Password:</strong> {{ user.password }}</p>
    <p><strong>Birth Date:</strong> {{ user.birthDate }}</p>
    <p><strong>Height:</strong> {{ user.height }}</p>
    <p><strong>Weight:</strong> {{ user.weight }}</p>
    <p><strong>Hair color:</strong> {{ user.hair?.color }}</p>
    <p><strong>Hair type:</strong> {{ user.hair?.type }}</p>
    <p><strong>IP Address:</strong> {{ user.ip }}</p>
    <p><strong>MAC Address:</strong> {{ user.macAddress }}</p>
    <p><strong>SSN:</strong> {{ user.ssn }}</p>
    <p><strong>Crypto Coin:</strong> {{ user.crypto?.coin}}</p>
    <p><strong>Crypto Wallet:</strong> {{ user.crypto?.wallet }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
  </div>
  
  <div *ngIf="user.address" class="address-section">
    <h3>Address</h3>
    <p><strong>Street:</strong> {{ user.address.address }}</p>
    <p><strong>City:</strong> {{ user.address.city }}</p>
    <p><strong>State:</strong> {{ user.address.state }}</p>
    <p><strong>Postal Code:</strong> {{ user.address.postalCode }}</p>
    <p><strong>Country:</strong> {{ user.address.country }}</p>
    <p><strong>Latitude:</strong> {{ user.address.coordinates?.lat }}</p>
    <p><strong>Longitude:</strong> {{ user.address.coordinates?.lng}}</p>
  </div>

  <div class="profile-bank">
    <h3>Bank Details</h3>
    <p><strong>Card Expiry:</strong> {{ user.bank?.cardExpire }}</p>
    <p><strong>Card Number:</strong> {{ user.bank?.cardNumber }}</p>
    <p><strong>Card Type:</strong> {{ user.bank?.cardType }}</p>
    <p><strong>Currency:</strong> {{ user.bank?.currency }}</p>
    <p><strong>IBAN:</strong> {{ user.bank?.iban }}</p>
  </div>
  
  <div class="profile-company">
    <h3>Company Details</h3>
    <p><strong>Department:</strong> {{ user.company?.department }}</p>
    <p><strong>Company Name:</strong> {{ user.company?.name }}</p>
    <p><strong>Title:</strong> {{ user.company?.title }}</p>
    <p><strong>Company Address:</strong> {{ user.company?.address?.address }}</p>
    <p><strong>City:</strong> {{ user.company?.address?.city }}</p>
    <p><strong>State:</strong> {{ user.company?.address?.state }}</p>
    <p><strong>Code:</strong> {{ user.company?.address?.stateCode }}</p>
    <p><strong>PostalCode:</strong> {{ user.company?.address?.postalCode }}</p>
    <p><strong>Latitude:</strong> {{ user.company?.address?.coordinates?.lat }}</p>
    <p><strong>Longitude:</strong> {{ user.company?.address?.coordinates?.lng }}</p>
  </div>
</div>



